.logoSimply {
  text-align: center;
}

.logo {
  width: 10rem;
}
.yellow {
  border-top: 1px solid #ffe29b;
  background-color: #fdfbf1;
  text-align: center;
  margin-top: 1rem;
  padding-block: 1rem;
}
.upper {
  text-transform: uppercase;
}
.title {
  text-align: center;
}

h1 {
  margin-block-start: 3rem;
  margin-block-end: 2rem;
  text-align: center;
  font-size: 40px;
  letter-spacing: -1px;
  line-height: 0.85;
}
main {
  width: 700px;
  margin-inline: auto;
  margin-bottom: 4rem;
}
